.contacts
    margin-top: 135px
    &__title
        font-size: 64px
        font-family: "Condensed", sans-serif
        text-transform: uppercase
        text-align: center
        margin-bottom: 77px
    &__undertitle
        font-size: 26px
        text-align: center
        max-width: 730px
        margin: 0 auto
        margin-bottom: 200px
        span
            font-weight: 500
    &__address
        margin-bottom: 200px
    &__text
        font-size: 26px
        text-align: center
        max-width: 508px
        margin: 0 auto
        margin-bottom: 30px
        span
            font-weight: 500
        a
            color: inherit
            @include transition
            &:hover
                color: $blue
    &__helpcenter
        margin-bottom: 200px